@model IEnumerable<Product>

<div class="mt-5 text-center border-bottom">
    <h6 class="display-6">Products</h6>
</div>


<div class="row">
    @foreach (var prd in Model)
    {
        
    <div class="col-md-3 my-3">
        <div class="card">
            <h5 class="card-header">@prd.ProductName</h5>
            <div class="card-body">
                <h5 class="card-title">@prd.Summary</h5>
                <p class="card-text">Price: @prd.Price</p>
                <a asp-action="Update" asp-controller="Product" asp-route-id="@prd.ProductId" class="btn btn-primary">Edit</a>
            </div>
            <div class="card-footer">
                <div class="d-flex jusify-content-between">
                    <div class="form-check form-switch">
                        <input type="hidden" name="productId" value="@prd.ProductId">
                        <input type="checkbox" class="form-check-input" id="flexSwitch" checked="@prd.ShowCase" disabled>
                        <label for="flexSwitch" class="form-check-label">ShowCase</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</div>
